# .env
sdl2_lib_path_x86=D:\dev\SDL2-devel-2.32.8-VC\SDL2-2.32.8\lib\x86
sdl2_lib_path_x64=D:\dev\SDL2-devel-2.32.8-VC\SDL2-2.32.8\lib\x64
sdl2_include_path=D:\dev\SDL2-devel-2.32.8-VC\SDL2-2.32.8\include
sdl3_lib_path_x86=D:\dev\SDL3-devel-3.2.16-VC\SDL3-3.2.16\lib\x86
sdl3_lib_path_x64=D:\dev\SDL3-devel-3.2.16-VC\SDL3-3.2.16\lib\x64
sdl3_include_path=D:\dev\SDL3-devel-3.2.16-VC\SDL3-3.2.16\include
# opencl_lib_path_x86=D:\dev3_opencl\OpenCL-ICD-Loader_x86\OpenCL-ICD-Loader-ReleaseBuild
opencl_lib_path_x64=D:\dev3_opencl\OpenCL-ICD-Loader_x64\OpenCL-ICD-Loader-ReleaseBuild
opencl_include_path=D:\dev3_opencl\OpenCL-Headers
llvm_path=C:\LLVM\bin
vulkansdk_path=C:\VulkanSDK\1.3.275.0
vulkansdk_lib_path_x86=C:\VulkanSDK\1.3.275.0\Lib32
vulkansdk_lib_path_x64=C:\VulkanSDK\1.3.275.0\Lib
vulkansdk_include_path=C:\VulkanSDK\1.3.275.0\Include
msvcl_build_path="C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build"
# msvcl_libs="kernel32.lib user32.lib gdi32.lib"
tcc_winapi_include_path=C:\TinyC\winapi-0.9.27\include
tcc_lib_path=C:\TinyC\tcc-0.9.27-win32\tcc\lib
